<a href="https://colab.research.google.com/github/LivKop/test-repo/blob/main/Untitled0_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

# 큰 글씨
아이유 콘서트 티케팅 빡셈
[아이유](https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2F_IUofficial&psig=AOvVaw3ppD4ljGv1eBiZunUJdXaz&ust=1681349402839000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPjw5OCYo_4CFQAAAAAdAAAAABAE)

## 다음 큰 글씨

### 다음 큰 글씨

In [ ]:
# 변수 규칙

a = 1
b = 2
#2a = 3 항상 변수는 문자로 시작해야 한다.

student_count = 100 # 가급적 풀 워드로 짓는다.
address = ' ' # 가급적 정확한 영어로 짓는다.
print(a * b, student_count)

2 100

In [ ]:
year = 2023
print(type(year)) # 타입() 데이터의 타입을 확인하는 함수

year = '이천이십삼년'
print(type(year))

<class 'int'>
<class 'str'>

In [ ]:
# 8진수
# 정수 앞에 0o를 붙이면 8진수
# 0b 2진수
# 0x 16진수
print(0o10)
print(0b10)
print(0x10)

8
2
16

In [ ]:
# 다음은 10진수를 받아서 각 진수로 변환하는 방법 (결과가 문자형)

print(oct(38)) # 10진수 38을 8진수로 변환
print(hex(38)) # 10진수 38을 16진수로 변환
print(bin(38)) # 10진수 38을 2진수로 변환

0o46
0x26
0b100110

In [ ]:
# 실수의 표현
print(type(3.14))
print(type(314e-2))
print(type(3 - 4j)) #복소수
x = 3 - 4j
print(x.imag)
print(x.real)
print(x.conjugate())

<class 'float'>
<class 'float'>
<class 'complex'>
-4.0
3.0
(3+4j)

In [ ]:
input("")

print(a[0:1])
print(a[1:4])

python

TypeError: ignored

In [ ]:
print(str(3.14)) # 문자형
print(int('49')) # 정수형
print(float(23)) # 실수형

3.14
49
23.0